* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

::selection {
  background: #616161; /* WebKit/Blink Browsers */
  color: #ffffff
}

::-moz-selection {
  background: #616161; /* Gecko Browsers */
  color: #ffffff
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  text-transform: capitalize;
  font-family: 'Volkhov', sans-serif;
  @media screen and (max-width: $tablet) {
    font-size: 80%;
  }
  @media screen and (max-width: $desktop) {
    font-size: 90%;
  }
}

html, body {
  height: 100%;
  background: #fdfcfc;
}

.is-vertical {
  flex-direction: column;
}

.is-horizontal {
  flex-direction: row;
}

footer {
  margin: 60px 0 -25px 0;
  @media screen and (max-width: $desktop){
    font-size: 18px;
  }
  @media screen and (max-width: $tablet){
    font-size: 14px;
  }
}

a {
  color: #404040;
  &:hover {
    color: #F05F40;
  }
  &:focus{
    outline: #F05F40 solid 2px;
  }
}
p {
  font-size: 20px;
  @media screen and (max-width: $tablet) {
    text-align: justify;
  }
  @media screen and (max-width: 420px) {
    font-size: 14px;
  }
}