#title {
  font-size: 60px;
  letter-spacing: 10px;
  margin-top: 20px;
  @media screen and (max-width: $desktop) {
    font-size: 42px;
  }
  @media screen and (max-width: $tablet) {
    font-size: 34px;
  }
}

#main-image {
  height: 100%;
  width: 100%;
}

#biography {
  margin-top: 60px;
  font-size: 30px;
  letter-spacing: 5px;
}

#icon-wrapper {
  margin: 0 20%;
}

hr.bio {
  margin: 20px 0;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr.bio:after {
  content: "*";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  padding: 0 0.25em;
  background: #fcfcfc;
}


